.cart-info{
    position: sticky;
    top: 0;
}
.choose-btn{
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #EB5757;
}
.choose-btn:hover{
    background-color: #95A0A7;
    color: white;
}