.book-container img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
.book-container{
    border: 1px solid rgba(0, 0, 0, 0.924);
    border-radius: 10px;
}
.cart-img{
    text-align: center;
    margin-top: 10px;
}
.cart-info{
    margin-left: 10px;
}
.btn-tex{
    background-color: bisque;
    border-radius: 0px 0px 10px 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-tex:hover{
    color: white;
    background-color: #2a414f;
    
}